Files/pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "GetDataFromPxnet2",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "http://pxnet2.stat.fi/PXWeb/api/v1/fi/StatFin/asu/asvu/statfin_asvu_pxt_11x5.px",
					"method": "POST",
					"headers": {
						"Accept-Encoding": "UTF-8"
					},
					"body": {
						"query": [],
						"response": {
							"format": "json-stat"
						}
					},
					"datasets": [
						{
							"referenceName": "Vuokra_csv_2",
							"type": "DatasetReference"
						}
					]
				}
			},
			{
				"name": "SaveJsonToCsv",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "GetDataFromPxnet2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Vuokrahinnat_2015Q1_Alkaen_Tilastokeskus",
					"baseParameters": {
						"jsoncontent": {
							"value": "@string(activity('GetDataFromPxnet2').output)",
							"type": "Expression"
						},
						"storageaccountname": "aureolissdsdatalakegen1",
						"storageaccountaccesskey": "uRbvlw1Sve+C5k8xwfxsowf5DpoccyRUyJ+hdsxrD7oQk5D8QBCnhKNKAF5XiyH29vi/PJSxh9NZKBUBBEGQOA==",
						"containername": "realestatedata1",
						"filename": "Vuokrahinnat_2015Q1_Alkaen.csv"
					}
				},
				"linkedServiceName": {
					"referenceName": "SDS_DataBricks_North",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"jsoncontent": {
				"type": "String"
			}
		},
		"annotations": []
	}
}