Files/pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "GetDataFromPxnet2",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@variables('POST_url')",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "@variables('POST_body')",
						"type": "Expression"
					},
					"datasets": [
						{
							"referenceName": "Vuokra_csv_2",
							"type": "DatasetReference"
						}
					]
				}
			},
			{
				"name": "SaveJsonToCsv",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "GetDataFromPxnet2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Vuokrahinnat_2015Q1_Alkaen_Tilastokeskus",
					"baseParameters": {
						"jsoncontent": {
							"value": "@string(activity('WebActivity1').output)",
							"type": "Expression"
						},
						"storageaccountname": "aureolissdsdatalakegen1",
						"storageaccountaccesskey": "uRbvlw1Sve+C5k8xwfxsowf5DpoccyRUyJ+hdsxrD7oQk5D8QBCnhKNKAF5XiyH29vi/PJSxh9NZKBUBBEGQOA==",
						"containername": "realestatedata1",
						"filename": "Vuokrahinnat_2015Q1_Alkaen.csv"
					}
				},
				"linkedServiceName": {
					"referenceName": "SDS_DataBricks_North",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"jsoncontent": {
				"type": "String"
			},
			"POST_url": {
				"type": "String",
				"defaultValue": "http://pxnet2.stat.fi/PXWeb/api/v1/fi/StatFin/asu/asvu/statfin_asvu_pxt_11x4.px"
			},
			"POST_body": {
				"type": "String",
				"defaultValue": {
					"query": [
						{
							"code": "Tiedot",
							"selection": {
								"filter": "item",
								"values": [
									"lkm",
									"keskivuokra"
								]
							}
						}
					],
					"response": {
						"format": "json-stat"
					}
				}
			}
		},
		"annotations": []
	}
}