Files/pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "WebActivity1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "http://pxnet2.stat.fi/PXWeb/api/v1/fi/StatFin/asu/asvu/statfin_asvu_pxt_11x4.px",
					"method": "POST",
					"body": {
						"query": [
							{
								"code": "Tiedot",
								"selection": {
									"filter": "item",
									"values": [
										"lkm",
										"keskivuokra"
									]
								}
							}
						],
						"response": {
							"format": "csv"
						}
					},
					"datasets": [
						{
							"referenceName": "Vuokra_csv_2",
							"type": "DatasetReference"
						}
					]
				}
			},
			{
				"name": "Set Variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "WebActivity1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "jsoncontent",
					"value": {
						"value": "@string(activity('WebActivity1').output)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"jsoncontent": {
				"type": "String"
			}
		},
		"annotations": []
	}
}